.left-container {
    text-align: center;
}

.card-wrapper {
    display: flex;
    background-color: white;
    position: relative;
    z-index: 2;
    border-radius: 15px;
    overflow: hidden;
}

.section-1 .card-wrapper {
    width: 47%;
}

.SecondPage .card-wrapper {
    width: calc(33% - 20px);
}

.corner {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.card-wrapper .left-container,
.card-wrapper .right-container {
    padding: 1.5rem;
}

.left-container {
    width: 30%;
}

.image-wrapper {}

.image-wrapper img {
    max-width: 100%;
}

.icon-box .icon-text {
    font-size: 0.8rem;
}

.right-container {
    width: 70%;
}

.upper-section {
    padding-bottom: 1rem;
}

.mid-section {
    padding: 1rem 0;
    border-top: 1px solid #d5d5d5;
}

.mid-section {
    text-align: left;
}

.mid-section>span {
    color: #d5d5d5;
    font-weight: 500;
}

.price-wrapper {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

.price-wrapper span {
    font-size: 28px;
    font-weight: 500;
}

.price-wrapper del {
    font-size: 18px;
    font-weight: 500;
    color: #d5d5d5;
    margin-left: 3rem;
}

.cart-wrapper {
    display: flex;
    column-gap: 15px;
    justify-content: space-between;
}

.cart-wrapper .cart-count {
    padding: 5px 15px;
    border: 1px solid navy;
    border-radius: 5px;
}

.cart-wrapper .buy-now-button {
    width: 100%;
    color: #fff;
    background-color: navy;
    border-radius: 5px;
}

.cart-wrapper .add-card-button {
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
}

.lower-section {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    border-top: 1px solid #d5d5d5;
    column-gap: 15px;
}

.lower-section button {
    font-size: 10px;
    width: 100%;
    padding: 5px 0;
    border-radius: 5px;
    border: 1px solid #d5d5d5;
}

.card-wrapper .Triangle_backGround {
    width: 0;
    height: 0;
    border-top: 106px solid #45b745;
    border-right: 101px solid transparent;
    position: absolute;
}

.card-wrapper .circle {
    border: 1px solid #f9f9f9;
    border-radius: 50px;
    width: 18px;
    height: 18px;
    z-index: 1;
    transform: rotate(-49deg);
    transform-origin: -418% -49px;
    color: #f9f9f9;
}

.card-wrapper .circle1 {
    border: 1px solid #f9f9f9;
    border-radius: 50px;
    width: 12px;
    height: 12px;
    z-index: 1;
    /* transform: rotate(-49deg);
    transform-origin: 74% 6px;
    color: #f9f9f9; */
    transform: rotate(-49deg);
    transform-origin: 74% 49%;
    font-size: 9px;
    color: #f9f9f9;
    display: grid;
}

.card-wrapper .TextSpans {
    padding: 50px;
    position: absolute;
    -ms-transform: rotate(45deg);
    -ms-transform-origin: 20% 40%;
    /* transform: rotate(-49deg);
    transform-origin: -79% 15%;
    font-size: 9px;
    color: #f9f9f9; */
    transform: rotate(-49deg);
    transform-origin: -76% 20%;
    font-size: 9px;
    color: #f9f9f9;
    display: grid;
}

.Share_Icon {
    /*margin: -70px 0px 0px 13px;*/
    color: #1717ebdb;
    width: 20px;
    height: 20px;
    /*margin:20px;*/
}

.heart_Icon {
    margin-left: 20px;
    color: red;
    width: 20px;
    height: 20px;
}

.card-heading {
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-size: 28px;
    font-weight: 700;
}

.firstLetter {
    color: red;
}

.model,
.card-sub-heading {
    TEXT-ALIGN: left;
    font-size: 18px;
    font-weight: 500;
}

.size {
    text-align: left;
    padding: 5px 0;
}

.star-wrapper {
    display: flex;
}

.star-box {
    color: #e7b74f;
}

.Icons {
    border: 1px solid #1313de;
    border-radius: 61%;
    padding: 9px;
    color: #1313de;
    font-size: 20px;
}

.count {
    font-size: 14px;
    padding-left: 8px;
}

@media only screen and (max-width: 600px) {
    .section-1 .card-wrapper {
        width: 90%;
    }
    .SecondPage .card-wrapper {
        width: calc(33% - -257px) !important;
    }
    .card-wrapper .left-container,
    .card-wrapper .right-container {
        padding: 0;
    }
}

@media only screen and (max-width: 765px) {
    .section-1 .card-wrapper {
        width: 90%;
    }
    .SecondPage .card-wrapper {
        width: calc(33% - -200px);
    }
}

@media only screen and (max-width: 1025px) {
    .section-1 .card-wrapper {
        width: 124%;;
    }
    .SecondPage .card-wrapper {
        width: calc(33% - -19px);
    }
}

@media only screen and (max-width: 1200px) {
    .card-heading {
        font-size: 20px;
        font-weight: 700;
    }
    .card-wrapper .TextSpans {
        padding: 1px;
        position: absolute;
        -ms-transform: rotate(45deg);
        -ms-transform-origin: 20% 40%;
        transform: rotate(-50deg);
        transform-origin: -171% -218%;
        font-size: 9px;
        color: #f9f9f9;
    }
}