.Contant_wrap{
    display: flex;
    justify-content: flex-start;
    padding: 20px 0px;
}
.Text{
    text-align: start;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    max-width: 85%;
    font-size: 14px;
}
@media only screen and (max-width: 765px) {
    .Contant_wrap{
        display: flex;
       justify-content: flex-start;
        margin: 0px 0px;
    }
    .Text{
        text-align: center;
        flex-wrap: wrap;
        max-width: 70%;

    }

}
